@media screen and (min-device-width: 768px) {
	#our-journey {
		padding-top: 10px;
	}
	.about-banner {
		text-align: center;
		padding:50px 40px;
	}
	.mission-photo{
		margin-top: 0;
	}
}
@media screen and (min-device-width: 769px) {
	.menu-bar {
		display: none;
	}
	.main-ul {
		display: flex;
		justify-content: flex-end;
		background-color: transparent;
		padding-right: 50px;
		margin-top: -80px;
	}
	.main-ul li {
		padding-right: 20px;
	}
	#banner-img  {
		height: 730px;
	}
	.head-banner  {
			
		padding-top: 300px;
	}
	.head-banner span {
		display: inline-block;
	}
	.carousel-item {
		background-color: #ffbc4f;
		height: 300px;
		text-align: center;
		padding-top: 50px;
	}
	.carousel-item p {
		margin: 24px 130px;
	}
	.comment-name {
		margin-right: 130px;
	}
	.about-banner {
		text-align: center;
		padding:100px 100px;
	}
	.mission-photo {
		height: 400px;
		width: 400px;

	}
}
