<!DOCTYPE html>
<html>
<head>
	<title>Trip website</title>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/media.css">
</head>
<body>
	<header>
		<nav id="main">
			<h1 class="techlogo">Hassan trip</h1>
			<h1><span class="fa fa-bars menu-bar"></span></h1>
			<ul class="main-ul">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="trip.html">Trips</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section id="banner-img">
		<div class="container">
			<div class="about-banner">
				<h1>Trips list</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				
			</div>
		</div>
	</section>
	<section id="our-journey" class="mt-4 mb-4">
		<div class="container text-center">
			<p class="head-color">JOURNEY</p>
			<h1>Your Journey Start Here</h1>
			<div class="row">
				<div class="col-12 col-md-4 mt-4 mb-4">
					<div class="card card-size">
  						<img src="img/img_1.jpg" class="card-img">
  						<div class="card-img-overlay">
    						<h5 class="card-title card-title1">$ 390.00</h5>    						
    						<p class="card-text card-text1">Dignissimos debitis</p>
  						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 mt-4 mb-4">
					<div class="card card-size">
  						<img src="img/img_2.jpg" class="card-img">
  						<div class="card-img-overlay">
    						<h5 class="card-title card-title1">$ 280.00</h5>    						
    						<p class="card-text card-text1">Dignissimos debitis</p>
  						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 mt-4 mb-4">
					<div class="card card-size">
  						<img src="img/img_3.jpg" class="card-img">
  						<div class="card-img-overlay">
    						<h5 class="card-title card-title1">$ 190.00</h5>    						
    						<p class="card-text card-text1">Dignissimos debitis</p>
  						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-4 mt-4 mb-4">
					<div class="card card-size">
  						<img src="img/img_4.jpg" class="card-img">
  						<div class="card-img-overlay">
    						<h5 class="card-title card-title1">$ 310.00</h5>    						
    						<p class="card-text card-text1">Dignissimos debitis</p>
  						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 mt-4 mb-4">
					<div class="card card-size">
  						<img src="img/img_5.jpg" class="card-img">
  						<div class="card-img-overlay">
    						<h5 class="card-title card-title1">$ 90.00</h5>    						
    						<p class="card-text card-text1">Dignissimos debitis</p>
  						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 mt-4 mb-4">
					<div class="card card-size">
  						<img src="img/img_6.jpg" class="card-img">
  						<div class="card-img-overlay">
    						<h5 class="card-title card-title1">$ 50.00</h5>    						
    						<p class="card-text card-text1">Dignissimos debitis</p>
  						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="our-story" class="mt-4 mb-4">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<p class="head-color">DISCOVER STORY</p>
					<h1>OUR STORY</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="col-12 col-md-6">
					<div>
						<img src="img/traveler.jpg" class="travel-img">
					</div>
					
				</div>
			</div>
		</div>
	</section>
		<footer id="contact-trip">
		<div class="container">
			<div class="row pt-3 pb-3">
				<div class="col-12 col-md-3 pt-3 pb-3">
					<h3>Instagram</h3>
					<div class="row">
						<div class=" col-4 col-sm-4 col-md-4">
							<div class="card">
								<img src="img/img_1.jpg" class="img-card-photo">
							</div>
						</div>
						<div class="col-4 col-sm-4 col-md-4">
							<div class="card">
								<img src="img/img_2.jpg" class="img-card-photo">
							</div>
						</div>
						<div class=" col-4 col-sm-4 col-md-4">
							<div class="card">
								<img src="img/img_3.jpg" class="img-card-photo">
							</div>
						</div>
					</div>
					<div class="row pt-3 pb-3">
						<div class="col-4 col-sm-4 col-md-4">
							<div class="card">
								<img src="img/img_4.jpg" class="img-card-photo">
							</div>
						</div>
						<div class="col-4 col-sm-4 col-md-4">
							<div class="card">
								<img src="img/img_6.jpg" class="img-card-photo">
							</div>
						</div>
						<div class="col-4 col-sm-4 col-md-4">
							<div class="card">
								<img src="img/img_5.jpg" class="img-card-photo">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-3 pt-3 pb-3">
					<h3 class="text-center">Quick Links</h3>
					<ul class="foot-middle">
						<li><a href="about.html">About Us</a></li>
						<li><a href="blog.html">Testimonials</a></li>
						<li><a href="trip.html">Terms of Service</a></li>
						<li><a href="blog.html">Privacy</a></li>
						<li><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 pt-3 pb-3">
					<h3>Newsletter</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt odio iure animi ullam quam, deleniti rem!</p>
					<form>
						<div class="row">
							<div class="col-10 col-md-10">
								<input type="email" class="form-control" name="email" placeholder="email">
							</div>
							<div class="col-2 col-md-2">
								<button class="btn btn-form">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="container text-center pt-4 pb-4">
			<p>Copyright ©2019 All rights reserved | This template is made with <span class="fa fa-heart"></span>   by <a href="#">Colorlib</a></p>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.js"></script>
  	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/main.js"></script>	
</body>
</html>