
@media screen and (min-device-width: 769px)  {
	.menu {
		display: none;
	}
	.logo {
		margin-left: 120px;
		width:90px;
	}
	#main-head {
		position: relative;
		display: inline-flex;
		flex-direction: row;
		background-color: transparent;
		margin-right: 100px;
		float: right;
		margin-top: -75px;

	}
	#main-head li {
		padding-right: 20px;

	}
	#main-head a {
		text-decoration: none;

	}
	#main-head a:hover {
		background-color: #4d4dff;
		padding: 5px;
		border-radius: 2px;
	}
	#content-banner {
		height: 700px;
	}
	.content-head {
		width: 350px;
		margin: auto;
		padding-top: 200px;
	}
	.img-trip img {
		width: 360px;
	}
}
@media screen and (min-device-width: 1025px){
	#content-banner {
		height: 900px;
	}
} 