*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 22px;
}
.logo {
	background-image: url("../img/logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	color: transparent;
	margin-left: 30px;
	margin-top: 15px;
	padding: 10px;
	width: 50px;
}
.menu {
	float: right;
	padding-right: 30px;
	margin-top: -90px;
	font-size: 30px;
}
#main-head {
	display: none;
	position: absolute;
	background-color: #b3b3ff;
	font-size: 25px;
	line-height: 1.9em;
	padding-left: 20px;
	z-index: 1;
}
#main-head li{
	list-style-type: none;
}
#content-banner {
	background-image: url("../img/hero_1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
}
.content-head {

	width: 300px;
	margin: auto;
	font-weight: bolder;
}
.story {
	color: grey;
	font-weight: 900;
	font-size: 100px;
	margin: auto;
}
#story-img img{
	width: 300px;
}
.Journey {
	color: grey;
	font-weight: 900;
	font-size: 100px;
	margin: auto;
	text-align: center;
}
.img-trip img {
	
	height: 500px;
	flex: 1;
	box-sizing: border-box;
	justify-content: space-between;
}
.img-trip img:hover {
	
}
.img-trip h4 {
	margin-top: 400px;
	text-align: center;
	font-weight: bolder;
}
.journey-img {
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
}